.component-alarm{
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.component-alarm img{
    float: right;
    width : 50px;
}

.component-alarm .checkedAlarm {
    background-color: gray;
}
.component-alarm .flag{
    float:right;
    position : relative;
    right : 50px;
    background-color: red;
    width: 12px;
    height : 12px;
    border-radius: 12px;
}