#app {
    width: 1000px;
    margin : 0px auto;
}

#app .title *{
    margin-bottom: 15px;
}
#app .title .main{
    font-size: 2.2em;
    font-weight: bold;
}

#app .footer .Internationalization{
    float: right;
    margin-top : 15px;
}

