.inline-block{
    display: inline-block;
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}

.margin-auto-center{
    margin : 0px auto;
}

.cover-view{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background:  rgba(0,0,0,0.2);
    overflow-y: scroll;
}

.cover-view-wrapper{

}

.focusPage{
    background-color: skyblue;
}
.focusLike{
    background-color: skyblue;
}
.right{
    float: right;
}
.left{
    float: left;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
