<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">

    <link rel="stylesheet" type="text/css" href="/static/css/pc/index.css" media="screen and (min-width:801px)">
    <link rel="stylesheet" type="text/css" href="/static/css/pc/signUp.css" media="screen and (min-width:801px)">

    <link rel="stylesheet" type="text/css" href="/static/css/mobile/index.css" media="screen and (max-width:800px)">

    <title>Portfolio</title>
</head>
<body>
<div id="app">
    <div class="header">
        <div class="top-bar">
            <div class="title inline-block">
                <span>
                    My Board
                </span>
            </div>
            <div class="inline-block">
                <input type="text" placeholder="email">
                <input type="text" placeholder="password">
                <input type="button" value="login">
                <input type="button" value="sign up">
            </div>
        </div>
    </div>
    <div class="body">
        <!-- <board/>   -->
    </div>
    <div class="footer"></div>
    <div class="cover-view">
         <sign-up/>
        <!-- <post/>   -->
        <!-- <update/>   -->
    </div>
</div>
<script src="//kr.vuejs.org/js/vue.js"></script>
<script src="/static/js/common/dateFormat.js"></script>
<script src="//unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="/static/js/index.js" type="module"></script>
<script type="application/javascript"></script>
</body>
</html>